*.tlog
COIL_Project/COIL_Project/x64/Debug/COIL_Project.tlog/Cl.items.tlog
*.tlog
COIL_Project/COIL_Project/x64/Debug/COIL_Project.tlog/Lib-link.write.1.tlog
COIL_Project/COIL_Project/x64/Debug/COIL_Project.log
COIL_Project/COIL_Project/x64/Debug/COIL_Project.tlog/CL.command.1.tlog
COIL_Project/COIL_Project/x64/Debug/COIL_Project.tlog/Cl.items.tlog
COIL_Project/COIL_Project/x64/Debug/COIL_Project.tlog/CL.read.1.tlog
COIL_Project/COIL_Project/x64/Debug/COIL_Project.tlog/CL.write.1.tlog
COIL_Project/COIL_Project/x64/Debug/COIL_Project.tlog/COIL_Project.lastbuildstate
COIL_Project/COIL_Project/x64/Debug/COIL_Project.tlog/Lib-link.write.1.tlog
COIL_Project/COIL_Project/x64/Debug/COIL_Project.tlog/Lib.command.1.tlog
